.pwr-logo-txt img {
  float: left;
  height: 120px;
  margin: 0px 2% 0px 2%;
}
.pwr-logo-txt h2 {
  margin: 0px 2% 0px 0px;
  font-size: 1.8rem;
  text-align: inherit;
}
.pwr-logo-txt p {
  margin: 0px 2% 0px 0px;
}
.pwr-logo-txt {
  height: 120px;
  margin-bottom: 5px;
}
.courses p {
  margin: 0px 2% 0px 2%;
  font-size: 1.2rem;
  color: silver;
}

/* ------------------------------------------------------------------------- */
@media (min-width:300px) and (max-width:600px){
  .pwr-logo-txt h2 {
    font-size: 1.3rem;
    text-align: inherit;
  }
  .pwr-logo-txt p {
    font-size: 0.8rem;
  }
  .courses p {
    font-size: 0.9rem;
  }
}

@media (min-width:601px) and (max-width:800px){
  .pwr-logo-txt h2 {
    font-size: 1.5rem;
    text-align: inherit;
  }
  .pwr-logo-txt p {
    font-size: 1.2rem;
  }
  .courses p {
    font-size: 1.2rem;
  }
}

@media (min-width:801px) and (max-width:1024px){
  .pwr-logo-txt img {
    height: 90px;
  }
  .pwr-logo-txt h2 {
    font-size: 1.1rem;
    text-align: inherit;
  }
  .pwr-logo-txt p {
    font-size: 0.8rem;
  }
  .courses p {
    font-size: 0.9rem;
  }
}

@media (min-width:1025px) and (max-width:1366px){
  .pwr-logo-txt h2 {
    font-size: 1.3rem;
    text-align: inherit;
  }
  .pwr-logo-txt p {
    font-size: 1.0rem;
  }
  .courses p {
    font-size: 1.1rem;
  }
}
