body {
  background-color: #303030;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.rectangle {
  width: 960px;
  margin: 20px;
}
.square {
  width: 50%;
  float: left;
  text-align: center;
}
#logo {
  float: left;
  font-size: 70px;
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#zegar {
  float: left;
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tile1 {
  /*złoty podział -> fi=1.618, więc: 230/1.618=142px;*/
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #3095D3;
  float:left;
  transition: transform 0.5s;
}
.tile2 {
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #666666;
  float:left;
  transition: transform 0.5s;
}
.tile3 {
  margin: 10px;
  width: 230px;
  height: 142px;
  background-color: #93C748;
  float:left;
  transition: transform 0.5s;
}
.tile4 {
  margin: 10px;
  width: 480px;
  height: 142px;
  background-color: #ee5232;
  text-align: justify;
  position:relative;
  font-size: 20px;
}
.tile1:hover {
  background-color: #52B7F5;
  transform: rotate(2deg);
  border-radius: 2%;
  cursor: pointer;
}
.tile2:hover {
  background-color: #888888;
  transform: rotate(-2deg);
  border-radius: 2%;
  cursor: pointer;
}
.tile3:hover {
  background-color: #B5E96A;
  transform: rotate(2deg);
  border-radius: 2%;
  cursor: pointer;
}
.buttons {
  position: absolute;
  right:  0;
  bottom: 0;
  margin: 0px;
}
#twitter {
  font-size: 40px;
  padding: 0px 3px 0px 0px;
  margin: 0px;
  opacity: 0.5
}
#twitter:hover {
  cursor: pointer;
  opacity: 1;
}
#fa-quote-left {
  font-size: 20px;
  margin-top: 0px;
}
.quotes {
  padding: 10px;
}
.tile5 {
  margin: 10px;
  padding: 10px;
  width: 460px;
  height: 284px;
  background-color: #666666;
  text-align: left;
}
.tile5 img {
  height: 130px;
  width: 130px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: solid 2px white;
  display: inline;
}
.tile5 span {
  /*float: left;*/
  display: block;
}
.in {
  margin: 10px;
  width: 105px;
  height: 142px;
  float:left;
  background: #0077B5;
  /*background: linear-gradient(#00A0DC,#0077B5);*/
}
.in:hover {
  transform: scale(1.1, 1.1);
  transition: 0.2s;
  background: #2299D7;
  border-bottom: 5px solid white;
}
.GitHub {
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #c9510c;
  float:left;
}
.GitHub:hover {
  transform: scale(1.1, 1.1);
  transition: 0.2s;
  background: #EB732E;
  border-bottom: 5px solid white;
}
.CodePen {
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #006400;
  float:left;
}
.CodePen:hover {
  transform: scale(1.1, 1.1);
  transition: 0.2s;
  background: #228622;
  border-bottom: 5px solid white;
}
.Twitter {
  margin: 10px;
  width: 105px;
  height: 142px;
  background-color: #4099FF;
  float:left;
}
.Twitter:hover {
  transform: scale(1.1, 1.1);
  transition: 0.2s;
  background: #62BBFF;
  border-bottom: 5px solid white;
}
i.fa {
  color:white;
  font-size: 75px;
  margin-top: 30px;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #303030,#666666,#303030);;
}
.footer i {
  font-size: 25px !important;
  margin: 2px;
}
