/*--- whoamI.html ---*/
.main-img {
  float: left;
  height: 130px;
  margin: 1%;
  border-radius: 50%;
  border: solid 2px white;
}
.me-txt {
  font-size: 1.8rem;
  margin: 60px 0px 60px 0px;
}
.adventure {
  margin: 40px 5% 0px 5%;
  text-align: justify;
}
.tech {
  width: 100%;
  margin: 15px 0px 0px 0px;
  text-align: center;
}
.tech ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tech li {
  margin: 0px 1% 0px 1%;
  display: inline;
}
/*--- edu.html ---*/
.pwr-logo-txt img {
  height: 10px;
}
/* .pwr {
  float: left;
  height: 120px;
  margin: 0px 2% 0px 2%;
}
.pwr-txt {
  font-size: 23px;
}
.courses {
  margin-top: 5px;
} */
/*--- contact.html ---*/
.contact-txt {
  text-align: center;
  color: black;
  font-size: 25px;
}
#contact-env {
  color: black;
  font-size: 30px;
}
